/* Глобальные настройки */
.burger-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: right 0.3s ease;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.burger-menu.active {
    right: 0;
}
.burger-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
    justify-content: center;
    align-items: center;
}
a {
    color: black;
}
/* Закрыть */
#close-menu {
    position: absolute;
    top: 8px;
    right: 6px;
    height: 18px;
    width: 26px;
}
/* Навигация */
nav {
    display: flex;
    justify-content: center;
    gap: 12px;
    font-size: 20px;
}
/* Поиск */
.search {
    height: 40px;
    width: 250px;
    min-width: 180px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border: 1px solid black;
}
input {
    width: 100%;
    border: none;
    font-size: 16px;
    padding-left: 5px;
}
input:focus {
    outline: none;
}
/* Вход/Регистрация/Профиль */
.action {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}
.action a {
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid black;
    padding: 6px 23px;
}
.profil {
    display: flex;
    justify-content: center;
}